.Container__button {
  text-align: center;
  outline: none;
  border: none;
}

.Btn__main {
  background-color: var(--button-color);
  border: none;
  color: #fff;
  border-radius: 7px;
  padding: 10px;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 600;
  width: fit-content;
  outline: none;
  border-style: none;
}
