.Payment {
  background-color: var(--background-container);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}
.Payment__card {
  background-color: var(--background-container-inputs);
  padding: 10px 5px;
  border-radius: 5px;
}
.Payment__card-text1 {
  font-size: 14px;
  font-weight: bold;
}
.Payment__card-text2 {
  font-size: 14px;
  font-weight: bold;
}
.Payment__item {
  box-shadow: 0px 1px 3px #00000029;
  position: relative;
  margin: 20px 0px;
}
.Payments__radio {
  margin: 10px 0px;
}
.Payments__radio input {
  margin: 0px 5px;
}
.Payment__item label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  border-radius: 5px;
}
.Payment__item-price {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  gap: 7px;
  padding: 10px 5px;
}
.Payment__item-figure {
  margin-right: 5px;
}
.Payment__item .info {
  background-color: #ccc;
  width: fit-content;
  display: flex;
  gap: 3px;
  align-items: baseline;
  justify-content: center;
  border-radius: 25px;
  padding: 3px 8px;
  position: absolute;
  left: 32%;
  top: 72%;
}
.Payment__item .info p {
  text-align: center;
  font-size: 12px;
}
.info__figure {
  margin-bottom: 5px;
}
